.sign-up-complete {
<<<<<<< HEAD
  text-align: center; /* 내부 이미지와 텍스트를 수평 중앙 정렬 */
  margin-top: 50px; /* 원하는 만큼 위쪽 여백 (필요 시) */
=======
  text-align: center;
  padding: 50px 20px;
  border-radius: 12px;
  max-width: 400px;
  margin: 80px auto; /* 중앙 정렬 */
}

.celebrate {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.signup-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.signup-description {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 50px;
  line-height: 30px;
}

.signup-next-button {
  width: 90%;
  max-width: 350px;
  height: 60px;
  border-radius: 25px;
  background-color: #fa400d;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 150px;
  transition: background-color 0.3s;
}

.signup-next-button:hover {
  background-color: #ff5252;
>>>>>>> develop
}
