.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.mission-popup {
  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  height: 280px;
  position: relative; /* 내부 요소 위치 조정 가능하도록 설정 */
}

/* ❌ X 버튼 스타일 */
.mission-close-button {
  position: absolute;
  top: 10px;
  left: 10px; /* 좌측 상단 정렬 */
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #fa400d;
}

/* 📌 미션 제목 */
.mission-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

/* 📌 미션 설명 */
.mission-description {
  font-size: 16px;
  margin-bottom: 40px;
}

/* 🎁 미션 리워드 (티켓, 코인 한 줄 정렬) */
.mission-reward {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.reward-text {
  font-weight: bold;
}

.reward-item {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.12); /* 🔹 배경색: #000000 20% 투명도 */
  border-radius: 45px; /* 🔹 radius 45 적용 */
  padding: 5px 20px;
}

.reward-item img {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  margin-left: -15px;
}

.reward-quantity {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0px #918f9c, 0px 1px #918f9c, 1px 0px #918f9c,
    0px -1px #918f9c;
}

/* ✅ 미션 진행 상태 */
.mission-state-text {
  color: #fa400d;
  font-size: 16px;
  margin-bottom: 10px;
}

.mission-button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.reward-btn {
  background-color: #fa400d;
  color: white;
}

.claimed-btn {
  background-color: #918f9c;
  color: white;
}
